<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="models.mappers.CommentMapper">
    <insert id="insert" parameterType="map">
        INSERT INTO Comments (commentId, postId, uid, parentId, content, creationTime, imageId)
        VALUES(#{commentId}, #{postId}, #{uid}, #{parentId}, #{content}, #{creationTime}, #{imageId});
    </insert>

    <delete id="delete" parameterType="long">
        DELETE FROM Comments WHERE commentId = #{commentId};
    </delete>

    <select id="get" parameterType="long" resultType="models.Comment">
        SELECT * FROM Comments WHERE commentId = #{commentId};
    </select>

    <select id="getByPostId" parameterType="long" resultType="models.Comment">
        SELECT * FROM Comments WHERE postId = #{postId};
    </select>
    <select id="countComments" parameterType="long" resultType="Long">
        SELECT COUNT(*) FROM Comments WHERE postId = #{postId};
    </select>
</mapper>