<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="models.mappers.PostMapper">
    <insert id="insert" parameterType="map">
        INSERT INTO Posts (postId, uid, title, content, creationTime, imageId)
        VALUES(#{postId}, #{uid}, #{title}, #{content}, #{creationTime}, #{imageId});
    </insert>

    <delete id="delete" parameterType="long">
        DELETE FROM Posts WHERE postId = #{postId};
    </delete>

    <select id="get" parameterType="long" resultType="models.Post">
        SELECT * FROM Posts WHERE postId = #{postId};
    </select>

    <select id="getUserAll" parameterType="long" resultType="models.Post">
        SELECT * FROM Posts ORDER BY creationTime DESC WHERE uid = #{uid};
    </select>

    <select id="getLatest" parameterType="map" resultType="models.Post">
        SELECT * FROM Posts ORDER BY creationTime DESC LIMIT #{limit} OFFSET #{offset};
    </select>

    <select id="getAll" resultType="models.Post">
        SELECT * FROM Posts ORDER BY creationTime DESC;
    </select>
</mapper>