<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="models.mappers.PostMapper">
    <insert id="insert" parameterType="map">
        INSERT INTO Posts (postId, uid, title, content, creationTime, imageId, active, youtubeLinkId, nrViews)
        VALUES(#{postId}, #{uid}, #{title}, #{content}, #{creationTime}, #{imageId}, #{active}, #{youtubeLinkId}, #{nrViews});
    </insert>

    <update id="setImage" parameterType="map">
        UPDATE Posts SET imageId = #{imageId} WHERE postId = #{postId};
    </update>

    <update id="setActive" parameterType="map">
        UPDATE Posts SET active = #{active} WHERE postId = #{postId};
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM Posts WHERE postId = #{postId};
    </delete>

    <select id="get" parameterType="long" resultType="models.Post">
        SELECT * FROM Posts WHERE postId = #{postId};
    </select>

    <select id="getUserAll" parameterType="long" resultType="models.Post">
        SELECT * FROM Posts WHERE active = 1 ORDER BY creationTime DESC WHERE uid = #{uid};
    </select>

    <select id="getLatest" parameterType="map" resultType="models.Post">
        SELECT * FROM Posts WHERE active = 1 ORDER BY creationTime DESC LIMIT #{limit} OFFSET #{offset};
    </select>

    <select id="getAll" resultType="models.Post">
        SELECT * FROM Posts WHERE active = 1 ORDER BY creationTime DESC;
    </select>

    <update id="incViews" parameterType="long">
        UPDATE Posts SET nrViews = nrViews + 1 WHERE postId = #{postId};
    </update>
</mapper>