<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="models.mappers.SessionMapper">
    <update id="createTable">
        CREATE TABLE IF NOT EXISTS Sessions(session VARCHAR(255) PRIMARY KEY NOT NULL,
        uid BIGINT UNIQUE NOT NULL, expires BIGINT NOT NULL);
    </update>
    <update id="dropTable">
        DROP TABLE IF EXISTS Sessions;
    </update>
    <insert id="insertSession" parameterType="map">
        INSERT INTO Sessions (session, uid, expires) VALUES(#{session}, #{uid}, #{expires});
    </insert>
    <delete id="deleteSession" parameterType="string">
        DELETE FROM Sessions WHERE session = #{session};
    </delete>

    <select id="getSession" parameterType="string" resultType="models.Session">
        SELECT session as session, uid as uid, expires as expires FROM Sessions WHERE session = #{session};
    </select>

    <select id="getSessionByUid" parameterType="long" resultType="models.Session">
        SELECT session as session, uid as uid, expires as expires FROM Sessions WHERE uid = #{uid};
    </select>

    <delete id="deleteExpired" parameterType="long">
        <![CDATA[
        DELETE FROM Sessions WHERE expires <= #{currentTime};
        ]]>
    </delete>
</mapper>