<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="models.mappers.UserSessionMapper">
    <insert id="insert" parameterType="map">
        INSERT INTO Sessions (value, csrfToken, uid, expires) VALUES(#{value}, #{csrfToken}, #{uid}, #{expires});
    </insert>

    <select id="get" parameterType="string" resultType="models.UserSession">
        SELECT * FROM Sessions WHERE value = #{value};
    </select>

    <select id="getByUid" parameterType="long" resultType="models.UserSession">
        SELECT * FROM Sessions WHERE uid = #{uid};
    </select>

    <delete id="deleteExpired" parameterType="long">
        <![CDATA[
        DELETE FROM Sessions WHERE expires <= #{currentTime};
        ]]>
    </delete>

    <delete id="delete" parameterType="string">
        DELETE FROM Sessions WHERE value = #{value};
    </delete>

    <delete id="deleteByUid" parameterType="long">
        DELETE FROM Sessions WHERE uid = #{uid};
    </delete>
</mapper>