<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="models.mappers.UserMapper">
    <update id="updateName" parameterType="map">
        UPDATE Users SET name = #{name} WHERE uid = #{uid};
    </update>

    <update id="updateAvatar" parameterType="map">
        UPDATE Users SET avatarId = #{avatarId} WHERE uid = #{uid};
    </update>

    <update id="updateThumbnail" parameterType="map">
        UPDATE Users SET thumbnailId = #{thumbnailId} WHERE uid = #{uid};
    </update>

    <insert id="insert" parameterType="map">
        INSERT INTO Users (uid, name, email, hashp, avatarId, thumbnailId)
        VALUES(#{uid}, #{name}, #{email}, #{hashp}, #{avatarId}, #{thumbnailId});
    </insert>

    <delete id="delete" parameterType="long">
        DELETE FROM Users WHERE uid = #{uid};
    </delete>

    <select id="get" parameterType="long" resultType="models.User">
        SELECT * FROM Users WHERE uid = #{uid};
    </select>

    <select id="getByEmail" parameterType="String" resultType="models.User">
        SELECT * FROM Users WHERE email = #{email};
    </select>

    <select id="getAll" resultType="models.User">
        SELECT * FROM Users;
    </select>
</mapper>