<div class="comment-container" id="comment-container-{{commentId}}">
    <div class="comment-content">
        <p class="comment-author"><a href="/profile/{{uid}}">{{userName}}</a> <span class="comment-date">{{date}}</span></p>
        <p class="comment-content-text" id="comment-content-text-{{commentId}}">{{content}}</p>
        <a href="/comment/{{commentId}}/reply" class="comment-reply-link" id="comment-reply-link-{{commentId}}">reply</a>
    </div>
    <div class="reply-comment-block" id="reply-comment-block-{{commentId}}">
    </div>
</div>
