<form class="post-comment-form">
    <div class="form-group">
        <textarea type="text" class="form-control" id="post-comment-content-{{postId}}" placeholder="Comment content"></textarea>
    </div>
    <button class="btn btn-default" id="post-comment-submit-{{postId}}" type="submit">Submit</button>
    <button class="btn btn-default" id="post-comment-cancel-{{postId}}" type="submit">Cancel</button>
</form>
<div class="post-comment-error">
    <p class="error-text" id="post-comment-error-text-{{postId}}"></p>
</div>