<div class="post-container">
<div class="post-title">
    <a class="post-link" href="/post/{{postId}}">{{title}}</a> <img class="user_pic" src="{{userPicUrl}}"> <a href="/profile/{{uid}}">{{userName}}</a> <span class="post-date">{{date}}</span>  <span class="post-nr-comments">{{nrComments}} comments</span>
</div>
{{#imageUrl}}
    <div class="post-image-container">
        <img class="post-image" src="{{imageUrl}}">
    </div>
{{/imageUrl}}
{{#youtubeLinkId}}
<div class="post-youtube-container">
    <iframe width="400" height="300" src="https://www.youtube.com/embed/{{youtubeLinkId}}?autoplay=0">
    </iframe>
</div>
{{/youtubeLinkId}}
<div class="post-content">
    <p class="post-content-text">{{content}}</p>
</div>
</div>
<hr>