<form class="reply-comment-form">
    <div class="form-group">
        <textarea type="text" class="form-control" id="reply-comment-content-{{commentId}}" placeholder="Reply content"></textarea>
    </div>
    <button class="btn btn-default" id="reply-comment-submit-{{commentId}}" type="submit">Submit</button>
    <button class="btn btn-default" id="reply-comment-cancel-{{commentId}}" type="submit">Cancel</button>
</form>
<div class="reply-comment-error">
    <p class="error-text" id="reply-comment-error-text-{{commentId}}"></p>
</div>