body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.error-text {
    color: #D8000C;
}

.post-container {
    text-align:left;
}

.post-title {
}

.post-content {
    padding: 10px;
    margin: 10px;
}

.post-link {
    color: black;
    font-weight: bold;
}

.post-date {
    font-size : 90%;
    color : grey;
}

.post-nr-comments {
    font-size : 90%;
    color : black;
}

#post-create-form {
    text-align:left;
}

#join-form {
    text-align:left;
}

#signin-form {
    text-align:left;
}

#profile-container {
    text-align:left;
}
.footer {
    text-align:center;
}

.post-comment-link {
    text-align:left;
    margin: 0px 0px 40px 0px;
}

.post-comment-block {
    text-align:left;
    margin: 0px 0px 40px 0px;
}

.post-comments {
    text-align:left;
}

.post-id {
    display: none;
}

.comment-content {
}

.comment-content-text {
    font-size : 100%;
}

.comment-author {
    font-size : 100%;
    color : black;
}

.comment-date {
    font-size : 90%;
    color : grey;
}

.comment-reply-link {
    font-size : 100%;
}

.user_avatar {
    width: 200px;
}

.profile-editable-item {
    margin: 10px;
}

.user_pic {
    width: 64px;
}

.post-title-title {
    float: left;
    margin-right: 20px;
}

.post-title-userpic {
    float: left;
    margin-right: 5px;
}

.post-title-username {
    float: left;
    margin-right: 5px;
}

.post-title-date {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.post-title-nr-comments {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.post-title-nr-views {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.post-title-delete-link {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.clear-both {
    clear: both;
}

.post-image-container {
    margin: 10px;
}

.post-youtube-container {
    margin: 10px;
}

.post-content {
    margin: 10px;
}

.comment-author-userpic {
    float: left;
    margin-right: 5px;
}

.comment-author-username {
    float: left;
    margin-right: 5px;
}

.comment-author-date {
    float: left;
    margin-right: 5px;
}