body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.error-text {
    color: #D8000C;
}
.post-title {
    text-align:left;
}
.post-content {
    text-align:left;
}
.post-link {
    text-align:left;
}
.post-container {
}

#post-create-form {
    text-align:left;
}

#join-form {
    text-align:left;
}

#signin-form {
    text-align:left;
}

#profile-container {
    text-align:left;
}
.footer {
    text-align:center;
}

.post-comment-block {
    text-align:left;
}

.post-comments {
    text-align:left;
}
