<configuration>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>myapp.log</file>
    <append>true</append>
    <encoder>
      <pattern>%d %level %logger %t - %message%n%xException</pattern>
    </encoder>
  </appender>
  <!--
    The logger name is typically the Java/Scala package name.
    This configures the log level to log at for a package and its children packages.
  -->
  <logger name="play" level="INFO" />
  <logger name="application" level="INFO" />

  <root level="INFO">
    <appender-ref ref="FILE" />
  </root>

</configuration>
