@(userAuth: models.UserAuth, posts: List[models.Post])

@content = {
@for(post <- posts) {
<div class="post-container">
<div class="post-title">
    <p><strong>@post.title</strong> by <a href="/profile/@post.uid">@post.uid</a> </p>
</div>
<div class="post-content">
    <p class="post-content-text">@post.content</p>
</div>
<div class="post-link">
    <a href="/post/@post.postId">More</a>
</div>
</div>
<hr>
}
}

@scripts = {
<script src="@routes.Assets.versioned("javascripts/post.js")" type="text/javascript"></script>
}

@main(userAuth, "Posts", scripts, content)