@(userAuth: models.UserAuth, posts: List[models.Post])

@content = {
@for(post <- posts) {
    <div class="post-container">
        <div class="post-title">
            <a class="post-link" href="/post/@post.postId">@post.title</a> <img class="user_pic" src="@post.userPicUrl"> <a href="/profile/@post.uid">@post.userName</a> <span class="post-date">@post.date</span>
        </div>
        @if(post.imageUrl != null) {
        <div class="post-image-container">
            <img class="post-image" src="@post.imageUrl">
        </div>
        }
        @if(post.youtubeLinkId != null) {
        <div class="post-youtube-container">
            <iframe width="400" height="300" src="http://www.youtube.com/embed/@post.youtubeLinkId?autoplay=0">
            </iframe>
        </div>
        }
        <div class="post-content">
            <p class="post-content-text">@post.content</p>
        </div>
    </div>
    <hr>
}
}

@scripts = {
<script src="@routes.Assets.versioned("javascripts/posts.js")" type="text/javascript"></script>
}

@main(userAuth, "Posts", scripts, content)