@(currUser: models.User, csrfToken: String, users: List[models.User])

@scripts = {
}

@content = {
<table class="table table-condensed">
    <caption>Users</caption>
    <thead>
        <tr align="left">
            <th>Uid</th>
            <th>Email</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @for(user <- users) {
        <tr align="left">
            <td>@user.getUid()</td>
            <td>@user.getEmail()</td>
            <td>@user.getName()</td>
        </tr>
        }
    </tbody>
</table>
}

@main(currUser, csrfToken, "Users", scripts, content)