@(userAuth: models.UserAuth, users: List[models.User])

@scripts = {
}

@content = {
<table class="table table-condensed">
     <thead>
        <tr align="left">
            <th>Uid</th>
            <th>Email</th>
            <th>Name</th>
            <th>Thumbnail</th>
        </tr>
    </thead>
    <tbody>
        @for(user <- users) {
        <tr align="left">
            <td><a href="/profile/@user.uid">@user.uid</a></td>
            <td>@user.email</td>
            <td>@user.name</td>
            <td>
                @if(user.thumbnailUrl != null) {
                    <img src="@user.thumbnailUrl">
                }
            </td>
        </tr>
        }
    </tbody>
</table>
}

@main(userAuth, "Users", scripts, content)